 <div id="form-group">
    <div>
        <h1>Se connecter</h1>
    </div>
    <div *ngIf="submitted && isNotRegistered" class="unfound-identifier validator-state">
        <div>&#9888;</div>
        <div>
            <div>Un problème est survenu</div><br>
            <div>Impossible de trouver un compte correspondant à cette adresse e-mail/numéro de telephone et ce mot de passe</div>
        </div>
    </div>
    <form #userForm="ngForm" (ngSubmit) = "onLogIn(userForm)">
        <div class="uni-line-context">
            <input type="text" name="identifier" placeholder="Adresse e-mail ou numéro de télephone" [(ngModel)] = "identifier" #identifierRef="ngModel" required><br>
        </div>
        <div *ngIf="identifierRef.pristine && submitted" class="validator-state">
            &#65045; Veuillez renseigner une adresse mail ou un numéro de télephone
        </div>
        <div *ngIf="identifierRef.dirty && submitted && invalidMailAndTel(identifierRef.value)" class="validator-state">
            &#65045; Veuillez renseigner une adresse mail ou un numéro de télephone valide
        </div>
        <div class="uni-line-context">
            <input type="password" name="password" placeholder="Mot de passe" [(ngModel)] = "password" #passwordRef="ngModel" required><br>
        </div>
        <div *ngIf="submitted && (passwordRef.pristine || passwordRef.value.length === 0)" class="validator-state">
            &#65045; Ce champ est obligatoire
        </div>
        <button type="submit">Se connecter</button>
    </form>
    <div id="connexion-mode">
        <a routerLink="/signin">S'inscrire</a>
    </div>
</div>
