/*@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }
@include media-breakpoint-up(xxl) { ... }*/
header {
    height: 60px;
    margin-bottom: 10px;
    background-color: #0B2239;
    vertical-align: baseline;
}