<app-header></app-header>

<div id="form-group" *ngIf="!isFullyUpdated">
    <div>
        <h1>Mettre à jour mon compte</h1>
    </div>

    <form [formGroup]="userForm" (ngSubmit) = onUpdate()>
        <div class="same-line-context" >
            <input id="lastName" type="text" name="lastName" minlength="2" placeholder="Nom" formControlName="lastName" minlength="2">
            <input id="firstName" type="text" name="firstName" minlength="2" placeholder="Prénom" formControlName="firstName" minlength="2">
        </div>
        <div class="validator-state" *ngIf="submitted && ((lastName?.invalid) || (firstName?.invalid))">
            &#65045; Le prénom et le nom doivent comporter au moins 2 caractères chacun
        </div>
        <div class="uni-line-context"><label>Votre date de naissance</label></div>
        <div class="same-line-context">
            <select name="birthDate" formControlName = "birthDate">
                <option value="" selected disabled>{{this.tmpUser.birthDay.getDate()}}</option>
                <option *ngFor="let day of days; index as i" [value]="day">{{day}}</option>
            </select>
            <select name="birthMonth" formControlName = "birthMonth">
                <option value="" selected disabled>{{this.months[this.tmpUser.birthDay.getMonth()]}}</option>
                <option *ngFor="let month of months; index as i" [value]="i">{{month}}</option>
            </select>
            <select name="birthYear"  formControlName = "birthYear">
                <option value="" selected disabled>{{this.tmpUser.birthDay.getFullYear()}}</option>
                <option  *ngFor="let year of years; index as i" [value]="year">{{year}}</option>
            </select>
        </div> 
        <div class="validator-state" *ngIf="submitted && !dateIsValid">
            &#65045; Veuillez renseigner une date valide
        </div>


        <div class="uni-line-context">
            <input type="text" name="address" placeholder="Votre adresse" formControlName="addr">
        </div>

        <div class="same-line-context">
            <input type="text" name="postalCode" placeholder="Votre code postal" formControlName="postalCode">
            <input type="text" name="town" placeholder="Votre ville" formControlName="town">
        </div>

        <div class="same-line-context">
            <input type="text" name="region" placeholder="Votre région" formControlName="region">
            <input type="text" name="pays" placeholder="Votre pays" formControlName="country">
        </div>
        <div class="validator-state" *ngIf="submitted && invalidAddress">
            &#65045; Veuillez rempli tous les champs pour l'adresse
        </div>
        <div><label class="uni-line-context">Votre genre</label></div>
        <div class="gender">
            <div class="same-line-context">
                <input type="radio" name="gender" value="F" formControlName="gender"><label>Féminin</label>
            </div>
            <div class="same-line-context">
                <input type="radio" name="gender" value="M" formControlName="gender"><label>Masculin</label>
            </div>
            <div class="same-line-context">
                <input type="radio" name="gender" value="O" formControlName="gender"><label>Non binaire</label>
            </div>
        </div>
        <div class="button-line-context">
            <button (click)="onCancel()">Annuler</button>
            <button type="submit">Valider</button>
        </div>
    </form>
</div>

