@import "../sign-in/sign-in.component.scss";
.button-line-context {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    button {
        width: 100%;
        margin: 20px;
    }
}

.gender {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    input[type="radio"] {
        
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    
        border-radius: 50%;
        width: 15px;
        height: 15px;
      
        border: 2px solid #999;
        transition: 0.2s all linear;
        &+label {
            margin: auto;
    
        }
        &:checked {
            border: 6px solid black;
        }
    }
    div {
       margin: auto;
    }
    
}
